/*---------- gLOBAL ---------*/

body {
  background-color: darkgray;
  color: #ffffff;
}

/*--------titulo de Presentación ---------------*/

span {
  font-family: "Times New Roman", Times, serif;
  padding: 12%;
  text-align: center;
  font-weight: bolder;
}

/*-------- Cabecera -----------*/

header {
  position: relative;
  width: 960px;
  height: 525px;
  background: url(/images/MaskGroup.png);
  background-repeat: no-repeat;
  left: 12%;
  color: #ffffff;
}

/*H1*/

.header2 {
  position: absolute;
  width: 321px;
  height: 74px;
  left: 350px;
  top: 25px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
}

/*H2*/

.header3 {
  position: absolute;
  width: 361px;
  height: 97px;
  left: 68px;
  text-align: center;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.header3 {
  position: absolute;
  width: 365px;
  height: 117px;
  left: 52px;
  top: 270px;

  background: rgba(114, 153, 254, 0.5);
  border-radius: 10px;
}

/*-------------Sobre mi--------------------*/

.aboutme {
  position: absolute;
  width: 960px;
  height: 424px;
  left: 12%;

  background: #7299fe;
}

.info {
  position: absolute;
  width: 155px;
  height: 41px;
  left: 408px;
  top: 30px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #ffffff;
}

.infocompleta {
  position: absolute;
  width: 872px;
  height: 318px;
  left: 41px;
  top: 90px;

  font-family: "Indie Flower", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #f8f8f8;
}

.botoncv {
  position: absolute;
  width: 187px;
  height: 50px;
  left: 38px;
  bottom: 60px;
  text-decoration: none;

  background: #d16fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.botoncv {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  background-color: #d16fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 30px;
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.8);

  color: white;
}

.botoncv:hover {
  transform: scale(1.15);
  transition: all 1s linear;
}

/*------------- Skills --------------------*/

.skills {
  position: absolute;
  width: 960px;
  height: 424px;
  left: 12%;
  top: 949px;

  background: #9122ff;
}

.skillstitle {
  text-align: center;
  padding-top: 30px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #ffffff;
}

.skillscolumna1 {
  position: absolute;
  margin-top: 105px;
  margin-left: 64px;
}

.skillscolumna2 {
  position: absolute;
  margin-top: 105px;
  margin-left: 500px;
}

.skill {
  list-style-type: none;
  margin-bottom: 14px;
  margin-top: 15px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.progress {
  position: relative;
  width: 400px;
  height: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.progress .mark {
  position: absolute;
  left: -60%;
  top: 0;
  background: #57eff9;
  display: block;
  width: 100%;
  height: 20px;
}

.progress:hover .mark {
  animation: progress 2s linear infinite;
}

@keyframes progress {
  from {
    left: -60%;
  }
  to {
    left: 0%;
  }
}

/*------------- Portafolio --------------------*/

.portafolio {
  position: absolute;
  width: 960px;
  height: 424px;
  left: 12%;
  top: 1373px;

  background: #ffd233;
}

.portafoliotitle {
  position: absolute;
  text-align: center;
  margin-top: 42px;
  margin-left: 399px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff;
}

.portafoliodesigns {
  position: absolute;
  width: 700px;
  height: 198px;
  margin-top: 130px;
  margin-left: 183px;
}

.portafolioexamples {
  margin-right: 11px;
  margin-bottom: 14px;
  cursor: pointer;
}

/*------------- Clientes --------------------*/

.clientes {
  position: absolute;
  width: 960px;
  height: 258px;
  left: 12%;
  top: 1797px;

  background: #3f4e62;
}

.clientestitle {
  position: absolute;
  text-align: center;
  right: 405px;
  top: 15px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}

.clientesdesigns {
  position: absolute;
  width: 900px;
  height: 69px;
  top: 91px;
  left: 70px;
}

.clientesexamples {
  margin-right: 26px;
  cursor: pointer;
}

/*------------- Clientes --------------------*/

.contacto {
  position: absolute;
  width: 960px;
  height: 578px;
  left: 12%;
  top: 2054px;

  background: #1687a0;
}

.contactostitle {
  position: absolute;
  left: 406px;
  top: 15px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff;
}

.formulariocontenedor {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 102px;
  left: 12%;
}

.contactocelda {
  width: 360px;
  height: 59px;
  margin-right: 33px;
  margin-bottom: 33px;
}
.descripcioncelda {
  width: 759px;
  height: 112px;
  top: 33px;
  margin-bottom: 45px;
}
button {
  display: block;
  width: 167px;
  height: 56px;
  margin-left: 0px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: #233451;
}

input:required {
  border: 3px solid whitesmoke;
}
input:valid {
  border: 3px solid rgb(47, 255, 82);
}

input:invalid {
  color: red;
}

textarea:valid {
  border: 3px solid rgb(47, 255, 82);
}
textarea:focus {
  background: skyblue;
}
button {
  position: absolute;
  width: 167px;
  height: 56px;
  left: 310px;
  bottom: 0px;
}
